<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

<p>
	Splurty was built by <a target="_blank" href="https://github.com/leamerluck">Chris</a> An aspiring developer who has commited the last several years to her family and is now stepping out and following her own passion. Still very dedicated to her family, Chris balances her ambitions to be a great developer along with working from home, blogging, and homeschooling her 3 spirited kids. 
</p>
<br />
<div class="col-xs-12 col-sm-4">
	<%= image_tag 'me-edited.jpg', :class => 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
	<h2 class="text-center">Chris McIntyre</h2>
	<br />
	<p>
	Chris earned a B.S. in SMT - Applied Math through the distance education program from SUNY. Her love of data and all things analytical led her to coding. She is confident that her hard work, persistence, and a lot of faith will land her in a great career. One that she looks forward to daily, will challenge her, and will allow her to make things that will benefit others!
</p>
</div>


</div>
<br class="clear" />
<br />
<br />
<br />
<br />
