<h2>
	<span><%= @quote.unique_tag %></span>
	Here's the <u>undeniable proof</u> that you've attained 'MOM' status ...
<h1><%= @quote.saying %></h1>
<h2 class="pull-right">- <%= @quote.author %></h2> 

<br class="clear" />
<br>
<br>
<br>